* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}

.main-container {
  min-height: 100vh;
  min-width: 100vw;
  background-color: whitesmoke;
}

.home-container {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-container {
  max-width: 800px;
  margin: 0 auto;
}

.messages-container {
  max-height: 300px;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.messages-container::-webkit-scrollbar {
  display: none;
}

.enter-form {
  max-width: 600px;
}

.notification {
  background-color: gray;
  color: white;
  margin-bottom: 5px;
  padding: 3px;
  border-radius: 5px;
  text-align: center;
}

.message {
  background-color: green;
  color: whitesmoke;
  margin-bottom: 5px;
  padding: 2px;
  padding-left: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.usermessage {
  background-color: blue;
  color: whitesmoke;
  margin-bottom: 5px;
  padding: 2px;
  padding-left: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message-info {
  font-size: 0.75rem;
}
